body,
html {
  background-color: #111;

  width: 100%;
  min-height: 100vh;

  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 640px;
  height: 360px;

  border: #222 1px solid;
}
