body,
html {
  background-color: #111;

  width: 100%;
  min-height: 100vh;

  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

canvas {
  width: 640px;
  height: 360px;

  border: #222 1px solid;
}

.debug-container {
  position: fixed;

  top: 1rem;
  left: 1rem;
}

.debug-container div {
  color: #fff;
  user-select: none;
}
